@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/_next/static/media/ibm-plex-mono-cyrillic-ext-400-normal.2d01495e.woff2) format("woff2"), url(/_next/static/media/ibm-plex-mono-all-400-normal.ef3468da.woff) format("woff");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/_next/static/media/ibm-plex-mono-cyrillic-400-normal.3a78e940.woff2) format("woff2"), url(/_next/static/media/ibm-plex-mono-all-400-normal.ef3468da.woff) format("woff");
    unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/_next/static/media/ibm-plex-mono-vietnamese-400-normal.67cd71d9.woff2) format("woff2"), url(/_next/static/media/ibm-plex-mono-all-400-normal.ef3468da.woff) format("woff");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/_next/static/media/ibm-plex-mono-latin-ext-400-normal.b93fd83a.woff2) format("woff2"), url(/_next/static/media/ibm-plex-mono-all-400-normal.ef3468da.woff) format("woff");
    unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/_next/static/media/ibm-plex-mono-latin-400-normal.a6ac3f83.woff2) format("woff2"), url(/_next/static/media/ibm-plex-mono-all-400-normal.ef3468da.woff) format("woff");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(/_next/static/media/inter-cyrillic-ext-400-normal.06b6faa3.woff2) format("woff2"), url(/_next/static/media/inter-all-400-normal.2ae8ed37.woff) format("woff");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(/_next/static/media/inter-cyrillic-400-normal.5122dff0.woff2) format("woff2"), url(/_next/static/media/inter-all-400-normal.2ae8ed37.woff) format("woff");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(/_next/static/media/inter-greek-ext-400-normal.2271c2a1.woff2) format("woff2"), url(/_next/static/media/inter-all-400-normal.2ae8ed37.woff) format("woff");
    unicode-range: u+1f??
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(/_next/static/media/inter-greek-400-normal.d1deb2fe.woff2) format("woff2"), url(/_next/static/media/inter-all-400-normal.2ae8ed37.woff) format("woff");
    unicode-range: u+0370-03ff
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(/_next/static/media/inter-vietnamese-400-normal.ebde713a.woff2) format("woff2"), url(/_next/static/media/inter-all-400-normal.2ae8ed37.woff) format("woff");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(/_next/static/media/inter-latin-ext-400-normal.261aa6d4.woff2) format("woff2"), url(/_next/static/media/inter-all-400-normal.2ae8ed37.woff) format("woff");
    unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(/_next/static/media/inter-latin-400-normal.493934f7.woff2) format("woff2"), url(/_next/static/media/inter-all-400-normal.2ae8ed37.woff) format("woff");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url(/_next/static/media/inter-cyrillic-ext-500-normal.563e11f7.woff2) format("woff2"), url(/_next/static/media/inter-all-500-normal.56c3d87b.woff) format("woff");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url(/_next/static/media/inter-cyrillic-500-normal.017c512f.woff2) format("woff2"), url(/_next/static/media/inter-all-500-normal.56c3d87b.woff) format("woff");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url(/_next/static/media/inter-greek-ext-500-normal.9ef8ce0d.woff2) format("woff2"), url(/_next/static/media/inter-all-500-normal.56c3d87b.woff) format("woff");
    unicode-range: u+1f??
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url(/_next/static/media/inter-greek-500-normal.599dd974.woff2) format("woff2"), url(/_next/static/media/inter-all-500-normal.56c3d87b.woff) format("woff");
    unicode-range: u+0370-03ff
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url(/_next/static/media/inter-vietnamese-500-normal.7b524ed3.woff2) format("woff2"), url(/_next/static/media/inter-all-500-normal.56c3d87b.woff) format("woff");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url(/_next/static/media/inter-latin-ext-500-normal.47503116.woff2) format("woff2"), url(/_next/static/media/inter-all-500-normal.56c3d87b.woff) format("woff");
    unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url(/_next/static/media/inter-latin-500-normal.b7be75b9.woff2) format("woff2"), url(/_next/static/media/inter-all-500-normal.56c3d87b.woff) format("woff");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 600;
    src: url(/_next/static/media/inter-cyrillic-ext-600-normal.4eb7a897.woff2) format("woff2"), url(/_next/static/media/inter-all-600-normal.d9666969.woff) format("woff");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 600;
    src: url(/_next/static/media/inter-cyrillic-600-normal.9f2082d5.woff2) format("woff2"), url(/_next/static/media/inter-all-600-normal.d9666969.woff) format("woff");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 600;
    src: url(/_next/static/media/inter-greek-ext-600-normal.04ef07b9.woff2) format("woff2"), url(/_next/static/media/inter-all-600-normal.d9666969.woff) format("woff");
    unicode-range: u+1f??
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 600;
    src: url(/_next/static/media/inter-greek-600-normal.eff3b663.woff2) format("woff2"), url(/_next/static/media/inter-all-600-normal.d9666969.woff) format("woff");
    unicode-range: u+0370-03ff
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 600;
    src: url(/_next/static/media/inter-vietnamese-600-normal.eb82de1d.woff2) format("woff2"), url(/_next/static/media/inter-all-600-normal.d9666969.woff) format("woff");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 600;
    src: url(/_next/static/media/inter-latin-ext-600-normal.0a04c3cd.woff2) format("woff2"), url(/_next/static/media/inter-all-600-normal.d9666969.woff) format("woff");
    unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: block;
    font-weight: 600;
    src: url(/_next/static/media/inter-latin-600-normal.a3e93aa0.woff2) format("woff2"), url(/_next/static/media/inter-all-600-normal.d9666969.woff) format("woff");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-display: block;
    font-weight: 100 900;
    src: url(/_next/static/media/inter-cyrillic-ext-variable-wghtOnly-normal.f62cc866.woff2) format("woff2");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-display: block;
    font-weight: 100 900;
    src: url(/_next/static/media/inter-cyrillic-variable-wghtOnly-normal.fd42267c.woff2) format("woff2");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-display: block;
    font-weight: 100 900;
    src: url(/_next/static/media/inter-greek-ext-variable-wghtOnly-normal.f876a5a3.woff2) format("woff2");
    unicode-range: u+1f??
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-display: block;
    font-weight: 100 900;
    src: url(/_next/static/media/inter-greek-variable-wghtOnly-normal.04553489.woff2) format("woff2");
    unicode-range: u+0370-03ff
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-display: block;
    font-weight: 100 900;
    src: url(/_next/static/media/inter-vietnamese-variable-wghtOnly-normal.530676b6.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-display: block;
    font-weight: 100 900;
    src: url(/_next/static/media/inter-latin-ext-variable-wghtOnly-normal.7df16007.woff2) format("woff2");
    unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-display: block;
    font-weight: 100 900;
    src: url(/_next/static/media/inter-latin-variable-wghtOnly-normal.40c45725.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}